<div class="tab-pane active">
  <div id="fighter_list">
    <h3>
      <%= @league.users.count %> Fighters
      <%= link_to "edit", edit_fighter_list_league_path(@league) if current_user == @league.commissioner %>
    </h3>
    <ul class="list-unstyled users">
      <%= render @league.users %>
    </ul>
  </div>
</div>