<div class="tab-pane active">
  <div id="fighter_list">
    <h3><%= @league.users.count %> Fighters</h3>
    <ul class="list-unstyled users">
      <%= render @league.users %>
    </ul>
  </div>
</div>