<%= form_for(current_user.league_relationships.build(league_id: league.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :league_id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>