<div id="join_form">
  <% if current_user.member_of?(league) %>
		<%= render partial: 'leave', locals: { league: league } %>
  <% else %>
    <%= render partial: 'join', locals: { league: league } %>
  <% end %>
</div>  
