<%= simple_form_for(current_user.memberships.build(league_id: @league.id)) do |f| %>
  <div><%= f.hidden_field :league_id %></div>
  <%= f.input :password %>
  <%= f.submit "Join league", class: "btn btn-large btn-primary" %>
<% end %>