<% unless post_show_page == true %>
  <span class="comment-btn">
    <%= link_to 'Comment', polymorphic_path([post.postable, post]),
                           class: 'btn btn-primary' %>
  </span>
<% end %>