<% like_count_id = "like_count_#{post.id}" %>
<% comment_count_id = "comment_count_#{post.id}" %>
<div id="<%= like_count_id %>">
  <%= pluralize(post.likes.count, "like") %>
</div>
<div id="<%= comment_count_id %>">
  <%= pluralize(post.comments.count, "comment") %>
</div>