<ul class="list-unstyled">
  <% if !current_user.bets.empty? %>
    
    <!-- Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        My Current Bets
      </div>
      
      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <tr>
            <th>My Bet</th>
            <th>Match</th>
            <th>My Pick</th>
          </tr>
          <% current_user.bets.each do |bet| %>
            <% match = Match.find(bet.match_id) %>
            <tr>
              <td>
                <% unless match.scores_not_set? %>
                  <% if match.p1_accepted == true && match.p2_accepted == true %>
                    <% if bet.favorite_id == match.winner_id %>
                      <%= link_to '', '#', class: "glyphicon glyphicon-thumbs-up" %>
                    <% else %>
                      <%= link_to '', '#', class: "glyphicon glyphicon-remove" %>
                    <% end %>
                  <% else %>
                    Pending accept...
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to match.display_score, match_path(match) %>
              </td>
              <td>
                <%= User.find(bet.favorite_id).alias %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

  <% else %>
    <li>No bets yet.</li>
  <% end %>
</ul>