<li>
  <%= image_tag notification.sendable.avatar.url(:post), class: "pull-left" %>
  <%= link_to notification.sendable.alias + " " + notification.action +
              " your post: " + '"' + notification.targetable.content + '"',
              polymorphic_path([notification.receiver, notification.targetable]) %>
</li>