<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>The Idea</h1>
    <p>
      There was a decent fighting game scene where I lived in Delaware, but not an
      SSF4:AE scene. Not being able to play some Street Fighter offline with
      locals was a huge bummer for me, but it was nice to know that there was
      at least a scene. But one day after watching the annual Topanga League,
      I thought about how fun it would be if we created our own Topanga League
      for the Delaware FGC. So I posted my idea to the Delaware FGC Facebook
      group and even though there was only about 4 total people that actually
      played Street Fighter, I got responses from 30+ people saying that they
      thought it would be a great idea and that it would "give them a reason"
      to play the game. After trying to organize who would actually play in
      the league, someone asked how we would keep track of all the data and
      I just knew that I should create a website for this. Not just for
      Delaware, but for the entire FGC.
    </p>
    <h2>About</h2>
    <p>
      The FGC is scattered all across the world and only a handful of scenes
      are even known. I built the Fighting Game League so that people around 
      the world can gather and create their own scenes and regardless of skill
      level or location can showcase their strong players and bring some spotlight
      to players who fight hard everyday.
    </p>
    <h3>Target</h3>
      Right now, the only FGC match activity that happens during the year are
      with major tournaments. My goal for this site is to grow the FGC by
      having high-level competetive league play every day from different scenes
      all across the world.
    </p>
    <h3>Fighting Game Data</h3>
    <p>
      I believe that the FGC is severely lacking in any type of data/statistics
      and so I'm excited about the idea of creating a database full of fighting
      game data. With the help and participation of everyone on this site, the
      following items below are just some of the things I believe we can learn
      from the data gathered by this website:
    </p>
    <p>
      <strong>Player data:</strong>
      <ul>
        <li>Where are all the strong fighting game scenes located</li>
        <li>Who are the strongest players in each region</li>
        <li>Which players thrives in league play vs. tournament play</li>
        <li>Which players thrive in short vs. long set play</li>
      </ul>
      <strong>Matchup data:</strong>
      <ul>
        <li>Which characters seem to beat other characters</li>
        <li>By how much does a character beat another character</li>
      </ul>
      <strong>Game data:</strong>
      <ul>
        <li>Most used characters</li>
        <li>Which games are hot in the FGC right now</li>
        <li>What games are thriving, but getting no attention</li>
      </ul>
    </p>
  </div>
</div>