
<!-- Main jumbotron for a primary marketing message -->
<div class="jumbotron">
  <div class="container">
    <h1>Join the HYPE!</h1>
    <p>Gather your friends and create your own fight league!</p>
    <a class="btn btn-primary btn-lg" role="button">Sign up now!</a>
  </div>
</div>

<div class="container">
  <!-- Marketing messaging and featurettes -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Personal Fight Leagues</h2>
      <p>Choose your game. Pick the players. Make the rules. Schedule the matches. Start fighting.</p>
    </div>
    <div class="col-lg-4">
      <h2>Simple Match Recording</h2>
      <p>Keep track of the all blow ups and nail biters. Results of all matches are automatically recorded through every match, every season. Follow in-depth player's statistics within your league and let the taunting begin.</p>
    </div>
    <div class="col-lg-4">
      <h2>Fighter Profiles</h2>
      <p>Compare fight history with friends and foe alike, throughout all leagues and show the world who's best!</p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; FGL 2013</p>
  </footer>
</div> <!-- /container -->