<% league = post.postable %>
<div class="media">
  <%= image_tag league.banner.url(:thumb) %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= render partial: "home/#{post.postable_type.underscore}/#{post.action}",
             locals: { post: post, league: league } %>
    </h4>
    <small class="timestamp"><%= time_ago_in_words(post.created_at) %> ago.</small>
  </div>
  <div class="like-comment-section">
    <%= render partial: 'like_form', locals: { post: post }  %>
  </div>
</div>
<hr />