<% provide(:title, "Select P2 Character") %>

<%= simple_form_for @match, method: :patch,
                            url: p2_set_character_match_path(@match) do |f| %>

  <h1>Select P2 Character</h1>
  <%= f.input :p2_characters, label: "Player 2 Character",
                              collection: @characters,
                              as: :check_boxes %>
  <%= f.button :submit, "Select Character", class: "btn-lg btn-primary" %>
<% end %>

<script>
$('input[type=checkbox]').change(function(e){
   if ($('input[type=checkbox]:checked').length > 3) {
        $(this).prop('checked', false)
   }
})
</script>