<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render partial: "home/#{@post.postable_type.underscore}/#{@post.postable_type.underscore}_post",
               locals: { post: @post, post_show_page: true } %>

    <div class="comment-section">
      <!-- Comment form -->
      <% if signed_in? %>
        <%= render 'shared/comment_form' %>
      <% end %>

      <!-- Comment list -->
      <h3>Comments</h3>
      <%= render @post.comments %>
    </div>
  </div>
</div>