// import the CSS framework
@import "bootstrap";

$grayLighter: #eaeaea;

// make all images responsive by default
img {
  @extend .img-responsive;
}

/* Welcome page (current bg image is sf banner) */
.jumbotron {
  background: url(/assets/main_banner.jpg) no-repeat;
  background-position: center;
  text-align: center;

  h1, p {
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(0,0,0,.9);
  }
}

// Center marketing images
.marketing-img, .hero-feature {
  img {
    margin: 0 auto;
  }
}

/* Navbar */ 
#logo {
  @extend .navbar-brand;
  //font-size: inherit;
}
 
// apply styles to HTML elements
// to make views framework-neutral
body {
  //background-color: #ededed;
}
main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 60px; // accommodate the navbar
}

/* Flash messages */
.alert {
  margin-top: 10px; // Space it from the navbar
}

.help-inline {
  color: red;
}

/* List of fighters in League show */
.users, .leagues {
  padding-left: 0;
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
  h3 {
    margin-top: 0;
  }
}

/* Home page */
section {
  @extend .row;
  margin-bottom: 5px;
}

/* Form */
// Group (Label and input field)
.control-group {

}

// Input fields
.form-control {
  margin-bottom: 10px;
}

/* League banner */
.banner {
  width: 100%;
  height: 275px;
  border-width: 2px;
  border-style: groove;
  // border-bottom-style: none;
}

/* League tab bar */
#league-tabs {
  border-width: 2px;
  border-style: groove;
  border-top-style: none;
  padding-top: 2px;
  margin-bottom: 10px;
}

/* User thumbs */
.user-thumb, .league-thumb {
  float:left;
  margin-right: 10px;
}

/* Player VS portrait */
.player-vs-portrait {
}

/* VS image in matches show page */
.vs-img {
  img {
    margin: 0 auto;
  }
}

/* user_posts */

.user_posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.user-post-content {
  font-size: 20px;
  padding-left: 15px;
}
.league-post-content {
  padding-left: 15px;
  padding-bottom: 15px;
  display: block;
}
.timestamp {
  display: block;
  color: lightGray;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightGray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

/* Notification drop down */
#notifications {
  ul {
    padding-left: 0px;
    list-style: none;
    width: 400px;
    li {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      border-bottom-style: solid;
      border-bottom-width: thin;
      border-bottom-color: #ddd;
      overflow: auto;
      img {
        margin-right: 5px;
      }
    }
  }
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

fieldset {
  margin-bottom: 20px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* User's league list */
.user-leagues-list {
  list-style: none;
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  white-space: nowrap;
  // Doesn't fucking work -- text-overflow: ellipsis;
  li {
    img {
      float: left;
      margin-right: 5px;
    }
    padding-bottom: 5px;
  }
}

.social-media-icons {
  img {
    display: inline-block; 
  }
}

.like-btn, .comment-btn {
  padding-right: 5px;
  display: inline-block;
}

.op-name {
  font-size: 25px;
}

.post-img {
  padding-top: 5px;
  padding-right: 5px;
}

.matches-btn {
  @extend .col-md-offset-3;
  width: 50%;
}

.pending-match-league-img {
  display: inline-block;
}

.pending-match {
  p {
    @extend .text-center;
    font-size: 16px;
  }
}

.matches-users-and-score {
  a {
    @extend .col-md-offset-3;
    font-size: 56px;
  }

  img {
    display: inline-block; 
  }
}

.match-p1-img {
  float: left;
}

.match-p2-img {
  float: right;
}

.matches-usernames {
  padding-bottom: 10px;
  a {
    font-size: 16px;
  }
  .match-p1-alias {
    //float: left;
  }
  .match-p2-alias {
    float: right;
  }
}

#nav_search {
  @extend .navbar-form, .navbar-left;
  padding-top: 5px;
  margin-bottom: 0;
}

.notification_icon {
  .dropdown-toggle {
    position: relative; top: 0; left: 0;
  }
  .notification_badge {
    position: absolute; top: 30px; left: 20px;
  }
}

.search-name {
  font-size: 20px;
}

.search-stats {
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  img {
    margin: 1px 1px;
  }
}

.current-matches-heading {
  text-align: center;
}
.current-matches {
  th, td {
    img {
      margin: 0 auto;
    }
    text-align: center;
  }
  .current-match-score {
    vertical-align: middle; 
    font-size: 300%;
  }
}
.comment {
  overflow: auto;
  padding: 10px 0;
  border-top: 1px solid $grayLighter;
  &:last-child {
    border-bottom: 1px solid $grayLighter;
  }

  img {
    float: left;
    margin-right: 5px;
  }
}

/* Match show page */
.match-info, .player-info {
  text-align: center;
}

.match-score {
  font-size: 300%;
}

.no-margin-top {
  margin-top: 0;
}

.bet-bars {
  margin-top: 15px;
}

#modal-window {
  padding-top: 60px;
  margin: 0 auto;
  width: 33%;
}

.embed-container {
  /*
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  */
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  /*
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  */
}