// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
}

/* Welcome page (current bg image is sf banner) */
.jumbotron {
  background: url(/assets/main_banner.jpg) no-repeat;
  background-position: center;
  text-align: center;

  h1, p {
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(0,0,0,.9);
  }
}

// Center marketing images
.marketing-img {
  img {
    margin: 0 auto;
  }
}

/* Navbar */ 
#logo {
  @extend .navbar-brand;
  //font-size: inherit;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
 
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 60px; // accommodate the navbar
}

/* Flash messages */
.alert {
  margin-top: 10px; // Space it from the navbar
}

.help-inline {
  color: red;
}

/* List of fighters in League show */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
    &:last-child {
      border-bottom: 1px solid #eaeaea;
    }
  }
}

/* Home page */
section {
  @extend .row;
  margin-bottom: 5px;
}

/* Form */
// Group (Label and input field)
.control-group {

}

// Input fields
.form-control {
  margin-bottom: 10px;
}

/* League banner */
.banner {
  width: 100%;
  height: 275px;
  border-width: 2px;
  border-style: groove;
  // border-bottom-style: none;
}

/* League tab bar */
#league-tabs {
  border-width: 2px;
  border-style: groove;
  border-top-style: none;
  padding-top: 2px;
  margin-bottom: 10px;
}

/* User thumbs */
.user-thumb {
  float:left;
  margin-right: 10px;
}

.p1-match-thumb {
  float:left;
  margin-right: 10px;
}

.p2-match-thumb {
  float:right;
  margin-left: 10px;
  vertical-align: baseline;
}

.p1-match-user {
  vertical-align: text-bottom;
}

.p2-match-user {
  vertical-align: text-bottom;
}