// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

// index page (current bg image is sf banner)
.jumbotron {
  background: url(/assets/main_banner.jpg) no-repeat;
  background-position: center;
  text-align: center;

  h1, p {
    color: #ffffff;
    text-shadow: 0 2px 2px rgba(0,0,0,.9);
  }
}

/* Navbar */ 
#logo {
  @extend .navbar-brand;
  //font-size: inherit;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
 
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}
section {
  @extend .row;
  margin-top: 20px;
}

/* Forms */
.form-horizontal {
  h1 {
    text-align: center;
  }
  div.input {
    margin-bottom: 10px;
  }

  label {
    text-align: center;
  }

  .btn {
    margin-top: 10px;

    @extend .btn-lg;
    @extend .btn-success;
    @extend .col-xs-8;
    @extend .col-xs-offset-2;
    @extend .col-lg-4;
    @extend .col-lg-offset-4;
  }
}

// Includes label and input field
.control-group {
  text-align: center;
  @extend .row;

  // Form input fields
  .form-control {
    @extend .col-xs-8;
    @extend .col-xs-offset-2;

    @extend .col-lg-4;
    @extend .col-lg-offset-4;
  }
}

/* sidebar */

aside{

  background: red; 

}


.gravatar {
  float: left;
  margin-right: 10px;
}
