<!-- Right Navbar -->
<ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Character Matchups", matchups_path %></li>
  <li><%= link_to "FGL Stats", stats_path %></li>
  <li><%= link_to "Sign in", signin_path %></li>
</ul>